* {
    font-family: Camphor, Open Sans, Segoe UI, sans-serif;
}

/*Links Farbe und Aussehen*/
/*#################*/
a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #ffe498;
    text-decoration: none;
}

/*Slider Aussehen*/
/*#################*/

.carousel-item {
    height: 800px;
}

/* Header und Navbar */
/*##################*/

.navbar-nav {
    float: none;
    margin: 15px auto;
    display: block;
    text-align: center;
}

.navbar-nav>li {
    display: inline-block;
    float: none;
}

.navbar {
    position: absolute;
    width: 100%;
    z-index: 10;
    max-width: 100%;
}

.navbar-brand {
    padding-top: 1em;
}

.navbar-nav .nav-item {
    background: rgb(207, 74, 61);
    background: -moz-linear-gradient(45deg, rgb(207, 74, 61) 0%, rgb(232, 111, 92) 98%);
    background: -webkit-linear-gradient(45deg, rgb(207, 74, 61) 0%, rgb(232, 111, 92) 98%);
    background: linear-gradient(45deg, rgb(207, 74, 61) 0%, rgb(232, 111, 92) 98%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cf4a3d', endColorstr='#e86f5c', GradientType=1);
    /* Background Color */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    width: 6em;
    height: 6em;
    margin: 0em 1.5em;
    
    border-radius: 150px;
    margin-top: -2em;
    z-index: 50;
}

#circle-p {
	width: 100px;
	height: 100px;
	background: #cf493d80;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
    border-radius: 50px;
    z-index: 0;
    position: absolute;

    transform: translate(0.2em, 3.7em);
}
#circle-p2 {
	width: 100px;
	height: 100px;
	background: #ffe49873;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
    border-radius: 50px;
    z-index: 0;
    position: absolute;

    transform: translate(-0.4em, 3.3em);
}

#nav-aussen{
    margin-top: 4em;
}

/*.hvr-outline-out:before{
    border-color: #da564a;
    border-radius: 100px;
}*/


.hvr-bubble-float-right:before{
    border-color: transparent transparent transparent rgb(231, 99, 79);
}
.hvr-bubble-float-right:hover, .hvr-bubble-float-right:focus, .hvr-bubble-float-right:active {
    -webkit-transform: translateX(-9px);
    transform: translateX(-9px);
  }
  .hvr-bubble-float-right:hover:before, .hvr-bubble-float-right:focus:before, .hvr-bubble-float-right:active:before {
    -webkit-transform: translateX(9px);
    transform: translateX(9px);
  }



.navbar-light .navbar-nav .nav-link {
    font-size: 18px;
    font-style: bold;
    font-weight: 500;
    text-transform: uppercase;
    color: white;
    margin-top: 1.5em;
    letter-spacing: 2px;

    font-family: 'Architects Daughter', cursive;
    font-weight: 700;
    /*border-radius: 0px;
    border: 1px solid #ffe498;
    padding: 6px; 
    margin: 20px;*/
}

.navbar-light .navbar-nav .active>.nav-link {
    color: #000000;
    /*border: 1px solid #cf4a3d;*/
}

/* Buttons Farbe und Aussehen */
/*###########################*/

.btn {
    background-color: #cf4a3d;
    border-color: #cf4a3d;
}

.btn:hover {
    background-color: #a83026;
    border-color: #a83026;
}


/* Footer */
/*#################*/

.footer-links-neu {
    /*position: fixed;
    padding-top: 0.3em;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(44, 44, 44);
    color: white;
    text-align: center;
    font-size: 14px;*/
    font-size: 16px;
    font-weight: 400;
}

.footer-distributed .footer-center p a {
    color: white;
}

.footer-distributed .footer-center p a:hover {
    color: #ffe498;
}